; Domain
Domain_Min_X    -1.0
Domain_Min_Y    -1.0
Domain_Min_Z    -1.0
Domain_Max_X    1.0
Domain_Max_Y    1.0
Domain_Max_Z    1.0

; Maximum Division for OcTree
Max_Division_OcTree     9

; Laplacian Weight : "uniform" or "cotangent"
LaplacianWeight     "uniform"

; Variables
w_L     0.5
w_P     0.3
w_F     0.1

; Sphere Building
Shpere_Max_Division     5

; Reshape Threshold
Area_Expand_Threshold   2.0
Area_Shrink_Threshold   0.25
Angle_Expand_Threshold  120