; Domain
Domain_Min_X    -1.0
Domain_Min_Y    -1.0
Domain_Min_Z    -1.0
Domain_Max_X    1.0
Domain_Max_Y    1.0
Domain_Max_Z    1.0

; Maximum Division for OcTree
Max_Division_OcTree     9

; Surface Update Method
SurfaceUpdateMethod "Neo"

; Laplacian Weight : "uniform" or "cotangent"
LaplacianWeight     "uniform"

; Variables
w_L     0.1
w_P     9985
w_F     15
epsilon 0.001
delta_t     0.001   ;  s
grav_acc    9.80665 ;  m / s^2
area_mass   1.0     ; kg / m^2
area_press  5.0    ;  N / m^2

; Sphere Building
Shpere_Max_Division     2
Shpere_Radio            0.04

; Matlab Script
MatlabScriptFileNeo     "script/Neo.m"

;;; Mesh Refine
Reletive_Tolerance       false

Edge_Split_Iteration_limit      1
Relative_Edge_Split_Tolerance
Edge_Split_Tolerance            0.03

Edge_Flip_Iteration_limit   5
Edge_Flip_Tolerance     1.25
Edge_Flip_Tolerance_Mult    1.25

Edge_Collapse_Iteration_limit   1
Edge_Collapse_Tolerance     0.005

