; Domain
Domain_Min_X    -1.0
Domain_Min_Y    -1.0
Domain_Min_Z    -1.0
Domain_Max_X    1.0
Domain_Max_Y    1.0
Domain_Max_Z    1.0

; Maximum Division for OcTree
Max_Division_OcTree     9

; Laplacian Weight : "uniform" or "cotangent"
LaplacianWeight     "uniform"

; Variables
w_L     0.01
w_P     0.3
w_F     0.1

; Sphere Building
Shpere_Max_Division     4


;;; Mesh Refine
Reletive_Tolerance       true

Edge_Split_Iteration_limit  3
Edge_Split_Tolerance    1.7

Edge_Flip_Iteration_limit   5
Edge_Flup_Tolerance     1.5

Edge_Collapse_Iteration_limit   3
Edge_Collapse_Tolerance     0.6

