; Default Camera View
Default_Camera_X    1.5
Default_Camera_Y    1.5
Default_Camera_Z    1.25

; shader
Main_Vertex_Shader          "./shader/BasicPhongVertexShader.vertexshader"
Main_Freagment_Shader       "./shader/BasicPhongFragmentShader.fragmentshader"
Pure_Color_Vertex_Shader    "./shader/PureColorVertexShader.vertexshader"
Pure_Color_Freagment_Shader "./shader/PureColorFragmentShader.fragmentshader"

; Coordinate Length
Coordinate_Length   1.0

; Default Background Color
Default_Background_Color_R  0.0
Default_Background_Color_G  0.167
Default_Background_Color_B  0.33

; Default Mesh Color
Default_Mesh_Color_R    0.75
Default_Mesh_Color_G    0.7
Default_Mesh_Color_B    0.85

; Default Point Cloud Color
Default_Point_Cloud_Color_R    0.75
Default_Point_Cloud_Color_G    1.0
Default_Point_Cloud_Color_B    0.75
