; Default Camera View
Default_Camera_X    1.5
Default_Camera_Y    1.5
Default_Camera_Z    1.25

; shader
Main_Vertex_Shader          "./shader/BasicPhongVertexShader.vertexshader"
Main_Freagment_Shader       "./shader/BasicPhongFragmentShader.fragmentshader"
Pure_Color_Vertex_Shader    "./shader/PureColorVertexShader.vertexshader"
Pure_Color_Freagment_Shader "./shader/PureColorFragmentShader.fragmentshader"

; Coordinate Length
Coordinate_Length   1.0
